@import 'tailwindcss';

@layer base {
  html {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/*scrollbar style*/
*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: 1px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
*::-webkit-scrollbar:hover {
  width: 10px;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}

/*tema claro*/
:root {
  /* Backgrounds */
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --bg-tertiary: #dbdbdb;
  --bg-hover-primary: #9a9a9a;
  --bg-hover-secondary: #b5b5b5;

  /* Textos */
  --text-primary: #1a1a1a;
  --text-secondary: #4a4a4a;
  --text-muted: #6b6b6b;

  /* Bordas */
  --border-primary: #e0e0e0;
  --border-secondary: #d0d0d0;

  /* Componentes específicos */
  --panel-bg: #fafafa;
  --button-bg: #ffffff;
  --button-hover: #f5f5f5;
  --input-bg: #ffffff;
  --input-border: #cccccc;

  /* Accent colors */
  --accent-primary: #3b82f6;
  --accent-secondary: #60a5fa;
}

/* Tema Escuro */
[data-theme='dark'] {
  /* Backgrounds */
  --bg-primary: #1a1a1a;
  --bg-secondary: #2a2a2a;
  --bg-tertiary: #3a3a3a;
  --bg-hover-primary: #2f2f2f;
  --bg-hover-secondary: #292929;

  /* Textos */
  --text-primary: #ffffff;
  --text-secondary: #e0e0e0;
  --text-muted: #a0a0a0;

  /* Bordas */
  --border-primary: #3a3a3a;
  --border-secondary: #4a4a4a;

  /* Componentes específicos */
  --panel-bg: #252525;
  --button-bg: #2a2a2a;
  --button-hover: #353535;
  --input-bg: #2a2a2a;
  --input-border: #404040;

  /* Accent colors */
  --accent-primary: #60a5fa;
  --accent-secondary: #3b82f6;
}

/* Tema Ocean */
[data-theme='ocean'] {
  /* Backgrounds */
  --bg-primary: linear-gradient(to right, #1f2e54, #1c2d56);
  --bg-secondary: #283045;
  --bg-tertiary: rgb(40, 49, 72);
  --bg-hover-primary: #5051646b;
  --bg-hover-secondary: #16223f;

  /* Textos */
  --text-primary: #cdcdcd;
  --text-secondary: #bebebe;
  --text-muted: #838383;

  /* Bordas */
  --border-primary: #626262;
  --border-secondary: #4a4a4a;

  /* Componentes específicos */
  --panel-bg: #252525;
  --button-bg: #2a2a2a;
  --button-hover: #353535;
  --input-bg: #2a2a2a;
  --input-border: #404040;

  /* Accent colors */
  --accent-primary: #60a5fa;
  --accent-secondary: #3b82f6;
}
